<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Application settings -->
  <appSettings>
    <!-- Your application settings here -->
  </appSettings>

  <!-- Configuration for HTTP and WebSocket -->
  <system.webServer>
    <!-- URL Rewrite rules to direct traffic -->
    <rewrite>
      <rules>

        <rule name="Rewrite to HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
          
        <!-- Rule for HTTP traffic on port 3000 -->
        <rule name="ReverseProxyHttp" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^chatapp-prod\.azurewebsites\.net$" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>

        <!-- Rule for WebSocket traffic on port 8080 -->
        <rule name="ReverseProxyWebSocket" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^chatapp-prod\.azurewebsites\.net$" />
            <add input="{HTTP:Upgrade}" pattern="websocket" />
          </conditions>
          <action type="Rewrite" url="ws://localhost:8080/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enable WebSocket support -->
    <webSocket enabled="true" />
  </system.webServer>
</configuration>
